*{margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #752747;

}
.big-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.jazz-block{
   position: relative;  
    height: 30vh;  
    top: 0vh;
    left: 0vw;
    
   
}
.jazz-block img{
    width: 70%;
    height: auto;
    margin-top: -90px;
    margin-left: 90px;
    
 
}
.tile-block{
position: absolute; 
 top: -40px;
 left: -50px; 
 width: 19rem;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 animation-name: pizza;
    animation-duration: 1.5s;
 
} 
.tile-block p{
position: relative;
left: -25px;
top: 10px;
color: #B19F0F;
    font-family: "Chivo Mono", monospace;
    font-size: 10px;
}
.pizza-block{
    position: absolute;
    top: -200px;
    left: -226px;
    width: 35rem;
    height: auto;
    justify-content: left;
    align-items: left;
    animation-name: pizza;
    animation-duration: 0.5s;
   

}
.pizza-block p{
    position: relative;
    left: -65px; 
    color: #B19F0F;
    font-family: "Chivo Mono", monospace;
    font-size: 10px;
    
}
.bike-block{
   /*  display: flex;
    flex-direction: column; */
    position: absolute; 
    top: -130px;
    left: 175px;
    width: 14rem;
    height: auto;
    align-items: left;
    justify-items: left;
    animation-name: pizza;
    animation-duration: 2.5s;
}
.bike-block p{
    position: relative;
    left: 90px; 
    color: #B19F0F;
    font-family: "Chivo Mono", monospace;
    font-size: 10px;
    
}
.flower-block {
    position: absolute;
    top: -60px;
    left: 730px;
    width: 24rem;
    height: auto;
    animation-name: pizza;
    animation-duration: 3.5s;
}
.flower-block p{
    position: relative;
    left: 40px;
    top: -22px;
    color: #B19F0F;
    font-family: "Chivo Mono", monospace;
    font-size: 10px;
}

.light-block{
    position: absolute;
    top: 320px;
    left: 900px;
    width: 15rem;
    height: auto;
    animation-name: pizza;
    animation-duration: 4.5s;
}
.light-block p{
    position: relative;
    left: 37px;
    color: #B19F0F;
    font-family: "Chivo Mono", monospace;
    font-size: 10px;
}

.greenflowers-block{
    position: absolute;
    top: 21.8vh;
    right: -1.6vw;
    width: 32vh;
    height: auto;
    /* animation-name: pizza;
    animation-duration: 5.5s; */
}
.greenflowers-block p{
    position: relative;
    left: 50px;
    top: -3vh;
    color: #B19F0F;
    font-family: "Chivo Mono", monospace;
    font-size: 10px; 
}
.blue-block{
    position: absolute;
    top: 445px;
    left: 1080px;
    width: 17rem;
    height: auto;
    animation-name: pizza;
    animation-duration: 6.5s;
}   
.blue-block p{
    position: relative;
    left: -10px;
    color: #B19F0F;
    font-family: "Chivo Mono", monospace;
    font-size: 10px; 
}
.description{
    color: #B19F0F;
    font-family: "Chivo Mono", monospace;
    font-size: 10px;
    position: absolute;
    top: -150px;
    left: 1110px;
    width: 15%;
    text-align: left;
}
.alo-quote img{
    width: 13rem;
    height: auto;
    position: absolute;
    left: 1020px;
    top: 30px;
 }
 h1{
    color: #B19F0F;
    font-family: "Brea VF"; 
    font-size: 128px;
    margin-bottom: 0px;
    margin-top: 40px;
    margin-left: -205px;
   /* font-family: "brea-variable", sans-serif; 
   font-variation-settings: "wght" 90; from adobe  */
}
.second-date{
    color:#B19F0F;
    font-family: "Brea VF"; 
    font-size: 128px;
    display: block;
    margin-top: -50px;
    margin-left: -520px;

  
}
@keyframes pizza {
    0%{
   opacity: 0%;

    }
   
    95%{
        opacity: 0%;
    }
    100%{
     opacity: 100%; 
    }
}










/* .tile-caption {
    text-align: center;
    color: yellow;
    font-family: "Chivo Mono", monospace;
      font-size: 10px;
} */
/* .tile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    left: 0px;
} */
p{
    font-family: "Chivo Mono", monospace;
    font-size: 10px; 
    text-align: center;
    color: yellow; 

}
