*{margin: 0px;
    box-sizing: border-box;
}
html{
    overflow-x: hidden; 
}
body{
    background-color: #752747;
    overflow-x: hidden; 
    
}
a{
    text-decoration: none;
    color: inherit;
  }
h1{
    color: #B19F0F;
    
    font-size: 15.9vh;
    margin-bottom: 0px;
    margin-top: 10.6vh;
    margin-left: -16vw;
   font-family: "brea-variable", sans-serif; 
   
   animation-name: pizza;
   animation-duration: 9s; 
   font-weight: 100;
   font-variation-settings: "wght" 700;
}
.second-date{
    color:#B19F0F;
    font-family: "Brea VF"; 
    font-size: 15.9vh;
    display: block;
    margin-top: -4.5vh;
    margin-left: 12vw;
    animation-name: pizza;
    animation-duration: 9s; 
    font-family: "brea-variable", sans-serif; 
    font-variation-settings: "wght" 400; 
    
}
.back{
    position: absolute;
    top: 3vh;
    right: 2vw;
}
.back:hover{
    color: #C57BB7;
    cursor: pointer;
    transform: scale(1.2);
}

.jazz-block img{
    width: 53vw;
    height: auto;
    position: relative;
    top: 6.5vh;
    z-index: 0;
    left: -8vw;
    animation-name: pizza;
    animation-duration: 4s;
}
.tile-block img{
    width: 14.3vw;
    height: auto;
    position: relative;
    left: 9vw;
    z-index: 2;
    top: 0.9vh;
    animation-name: pizza;
    animation-duration: 2s;
   

}
.bike-block img{
    width: 11vw;
    height: auto;
    position: relative;
    left: 10vw;
    top: -8vh;
    z-index: 1;
    animation-name: pizza;
    animation-duration: 3s;
}

.flower-block img{
    width: 19vw;
    height: auto;
    position: relative;
    left: -16.2vw;
    top: -3vh; 
   animation-name: pizza;
    animation-duration: 5s; 
}
.light-block img{
    width: 12vw;
    height: auto;
    position:relative;
    left: -26vw;
    top: 44.3vh;
    animation-name: pizza;
    animation-duration: 6s; 
  

}
.greenflowers-block img{
    width: 12vw;
    height: auto;
    position: relative;
    right: 27vw;
    top: 25vh;
    animation-name: pizza;
    animation-duration: 7s; 
    
    
    
} 
.blue-block img{
    width: 16vw;
    height: auto;
    position: absolute;
    left: 84.5vw;
    top: 74vh;
    animation-name: pizza;
    animation-duration: 8s; 
} 

.pizza-block img{
    width: 45vh;
    height: auto;
    margin-left: -2vw;
    animation-name: pizza;
    animation-duration: 1s;
}
.alo-quote img{
width: 13vw;
height: auto;
position: relative;
left: -38.9vw;
top: -4vh;
animation-name: pizza;
animation-duration: 9s; 


}
.sections{
    width: 100%;
    display: flex;
    flex-direction: row;
}
 .description{
    color: #B19F0F;
    font-family: "Chivo Mono", monospace;
      font-size: 1.2vh;
      margin-left: -77vw;
      width: 14vw;
      padding-bottom: 30px;
      position:relative;
      top:-3vh;
      animation-name: pizza;
    animation-duration: 9s; 
   
      
 
   
}
.inner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
p{
    color: #B19F0F;
    font-family: "Chivo Mono", monospace;
      font-size: 1.2vh;
}
.pizza-caption{
    margin-top: 0.5vh;
    margin-left: 0.8vw;

    
}
.tiles-caption{
    margin-left: 8.9vw;
    margin-top: 1.5vh;
    position: absolute;
    
}
.bike-caption{
    position: absolute;
    top: 37.2vh;
    left: 24.3vw;
    z-index: 2;
}
.flower-caption{
    position: absolute;
    top: 57.6vh;
    right: 27.4vw;
    z-index: 2;
}
.jazz-container{
    position: absolute;
    z-index: 2;
    top: 25vh;
    left: 25vw;
}
.jazz-caption{
    margin-bottom: 0px;
    margin-top: 0.15vh;
}
.light-caption{
    position: absolute;
    right: 19.8vw;
    top: 81.6vh;
}
.green-caption{
    position: absolute;
    z-index: 1;
    right: 9.4vw;
    bottom: 29.3vh;
}
.blue-caption{
    position: absolute;
    right: 1vw;
    bottom: 11.4vh;
}
@keyframes pizza {
    0%{
   opacity: 0%;

    }
   
    95%{
        opacity: 0%;
    }
    100%{
     opacity: 100%; 
    }
}
/* .jazz-video{
    position: relative;
    top: 6.5vh;
    right: 58.9vw;
    opacity: 80%;
}
.video-container{
    position: relative;
    height: 55vh;
    width: 50vw;
  color: #B19F0F;
    top: 10vh;
} */


/* animationan attempt */
.jazz-block{
    position: relative;
}
.jazz-video{
    position: absolute;
    top: 6.5vh;
    left: -8vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;
    opacity: 0%;
    z-index: 0;
}
.jazz-block:hover .jazz-video{
    visibility: visible;
    opacity: 100%;
}
@media screen and (max-width: 425px){
    h1{
        font-size: 7vh;
        margin-top: 34vh;
        font-weight: 100;
        font-variation-settings: "wght" 544;
    }

    .jazz-block img{
        top: 10.5vh;
        left: -33vw;
        width: 81vw;
    }

    .jazz-video{
        top: 10.5vh;
        left: -33vw;
    }

    .second-date{
        font-size:7vh;
        margin-top: -2vh;
        margin-left: -6vw;
        font-variation-settings: "wght" 300;
    }

    .pizza-block img{
        width: 17vh;
        margin-top: 9vh;
    }

    .tile-block img{
        width: 24.3vw;
        top: 0.3vh;
        left: 3vw;
    }

    .bike-block img{
        width: 11vh;
        top: -6.7vh;
        left: 5vw;
    }

    .flower-block img{
        width: 27vw;
        left: -73.2vw;
        top: 33vh; 
    }
    .light-block img{
        width: 18vw;
        left: -87vw;
        top: 55.3vh; 
    }
    .greenflowers-block img{
        width: 18vw;
        right: 89vw;
        top: 43vh; 
    }
    .blue-block img{
        width: 10vw;
        left: 84.5vw;
        top: 75.5vh; 
    }
    .blue-caption{
        right: 1vw;
        bottom: 20.1vh; 
    }
    .light-caption{
        right: 17.8vw;
        top: 82.2vh; 
    }
    .green-caption{
        right: 6.4vw;
        bottom: 41vh; 
    }
    .flower-caption{
        right: 31.4vw;
        top: 69vh; 
    }
    .jazz-container{
        left: 25vw;
        top: 14vh; 
    }
    .pizza-caption{
        margin-left: 2.4vw;
        margin-top: -0.2vh; 
        padding-bottom: 0.5vh;
    }
    .bike-caption{
        left: 29.2vw;
        top: 25.7vh; 
    }
    .tiles-caption{
        margin-left: 12.9vw;
        margin-top: 0.5vh; 
        z-index: 2;
    }
}