*{margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1D230F;
   overflow-x: hidden
    
}
.second-date{
    width: 100vw;
   
   
    
}
.second-nine{
    position: absolute;
    color:#B19F0F;
    font-family: "Brea VF"; 
    left: 0px;
    
    

}
.header{
    width: 100vw;
    height: 50vh;
}
h1{
    position: absolute;
    right: 0px;
    color: #B19F0F;
    font-family: "Brea VF"; 
    font-size: 30vh;

   /* font-family: "brea-variable", sans-serif; 
   font-variation-settings: "wght" 90; from adobe  */
}
.second-september{
    color:#B19F0F;
    font-family: "Brea VF"; 
    font-size: 31vh; 
    position: absolute;
    right: 0px;
    top: 17vh
    
}

h2{
    color: #B19F0F;
    font-family: "Brea VF"; 
    font-size: 15vh;
    position: absolute;
    left: 0px;
    margin-top: 0.6vh;
    
   
}
.second-nine{
    color:#B19F0F;
    font-family: "Brea VF"; 
    font-size: 15vh; 
    margin-top: 10vh;
}


.image{
    display: flex;
    flex-direction: row;
    gap: 1.16vw;    
}
imgcaption{
    font-size: 1.2vh;
    color: #D97C0E;
    font-family: "Chivo Mono", monospace;
   

}
.wasting-caption{
    position: absolute;
    left: 17vw;
    top: 118.5vh;

}
.skies-caption{
    position: absolute;
    left: 3.6vw;
    top: 93vh;
    
}
.lamp-caption{
    margin-top: -3vh;
    position: absolute;
    margin-left: 13.3vw;
    font-size: 1.2vh;
    color: #D97C0E;
    font-family: "Chivo Mono", monospace;
}
.reading-caption{
    position: absolute;
    left: 46.6vw;
    top: 108.9vh;

}
.pier-caption{
    position: absolute;
    top: 119.3vh;
    left: 58.3vw;
}
.nails-caption{
   margin-left: 1vw;
}
.lantern-caption{
    position: absolute;
    left: 23.9vw;
    bottom: -46vh; 
    
}
.gallery-caption{
    margin-left: 0.5vw;
}
.park-caption{
    position: absolute; 
    top: 79vh;
    left: 63vw;  
}
.music-caption{
    position: absolute;
    left: 80.5vw;
    top: 88vh;

}
#park-two{
    top: 80.5vh;
    left: 63vw; 
}
#park-three{
    top: 82vh;
    left: 63vw; 
}
#park-four{
    top: 83.5vh;
    left: 63vw; 
}
#clouds{
    height: 5.2vh;
    width: auto;
    position: fixed;
    top:59.6vh ;
    transition: 500ms;
}
#clouds:hover{
    transform: scale(1.7);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    
  }
#late-skies {
    height: 54vh;
    width: auto;
    top: 10vh;


}
#wasting-time {
    height: 28vh;
    width: auto;
}
#nails {
    height:37vh;
    width: auto;
    margin-left: 1vw;

    

}
#art-gallery {
    height:10vh;
    width: auto;
}
#sunset-lamp {
    height:44vh;
    width: auto;
}
#lantern{
    height: 19vh;
    width: auto;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1vh;
    margin-top: -15vh;
    
}
#left-row{
    align-items: start;
    margin-top: 15vh;
}

#third-row{
    margin-top: 4vh;
}
#fourth-row{
    align-items: start;
    margin-top: -4vh;
}
#fifth-row{
    align-items: start;
    margin-top: 11vh;
}
.column{
    flex-grow: 1;
    margin-top: 20px;
    

}
/* #first-column{
    flex-grow: 3;
} */
#prospect{
    height: 37vh;
    width: auto; 
}
#subway-tiles{
    height: 21vh;
    width: auto; 
}
#oscar-wilde{
    height: 27vh;
    width: auto; 
}
#purple{
    height: 5.2vh;
    width: auto; 
    position: fixed;
    top: 49.6vh;
    transition: 500ms;
}
#purple:hover{
    transform: scale(1.7);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }
#peach{
    height: 5.2vh;
    width: auto;
    margin-right: 16vw;
    position: fixed;
    left: 0vw;
    top: 30vh;
    transition: 500ms;


    
}
#peach:hover{
    transform: scale(1.7);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }
#music{
    height: 39vh;
    width: auto; 
}
#orange{
    height: 5.2vh;
    width: auto;
    transition: 500ms;
}
#orange:hover{
    transform: scale(1.7);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }

.description{
    color: #D7770A;
    font-family: "Chivo Mono", monospace;
    font-size: 1.2vh;
    text-align: left;
    width: 14vw;
    margin-top: 1vh;
}
.jason-quote img{
    width: 14vw;
    height: auto;
    margin-top: 2vh;
 }
#pier{
    height: 28vh;
    width: auto; 
}

#book{
    height: 13.9vh;
    width: auto; 
    margin-right: 0.7vw;
   
}
.book-clouds{
    display: flex;
    flex-direction: row;
}
.park-container{
    display: flex;
    flex-direction: column;
    
}

